body {
    background-color: #faebd6;
}

h1 {
    color: #ff0000;
    font-size: 50px;
    margin-bottom: 100px;
}

p.first {

    color: #a42423;
    font-size: 40px;
    margin-bottom: 100px;
}

p.second {

    color: #00008f;
    font-size: 40px;
}